<div class="panel panel-default" style="border-style: none; margin-bottom: 0px; margin-top: 0px; border-bottom: solid 1px #eee;">
  <div class="panel-heading" style="background-color: #ffffff;padding-bottom: 2px;padding-top: 5px">
    <div class="" (click)="displayOrgTree()">
          <span *ngIf="!orgunit_tree_config.loading">
              {{ getProperPreOrgunitName() }}
          </span>
      <span *ngIf="orgunit_model.selected_orgunits.length > 4 && orgunit_model.selection_mode != 'Usr_orgUnit'">
            <span class="selected-item">
              {{ orgunit_model.selected_orgunits[0].name }}
              <a (click)="deActivateNode(orgunit_model.selected_orgunits[0].id,orgtree,$event)" class="removeorgunit" >x</a>
            </span>
            <span class="selected-item">
              {{ orgunit_model.selected_orgunits[1].name }}
              <a (click)="deActivateNode(orgunit_model.selected_orgunits[1].id,orgtree,$event)" class="removeorgunit">x</a>
            </span>
            <span class="selected-item">
              &nbsp; and {{ orgunit_model.selected_orgunits.length - 2 }} more
            </span>
          </span>
      <span *ngIf="orgunit_model.selected_orgunits.length <= 4 && orgunit_model.selection_mode != 'Usr_orgUnit'">
             <span *ngFor="let item of orgunit_model.selected_orgunits" class="selected-item ng-binding ng-scope">
              {{ item.name }}
               <a (click)="deActivateNode(item.id,orgtree,$event)" class="removeorgunit" *ngIf="orgunit_model.selected_orgunits.length > 1">x</a>
            </span>
          </span>
      <span class="no-selection"*ngIf="orgunit_model.selected_orgunits.length == 0 && !orgunit_tree_config.loading && orgunit_model.selection_mode != 'Usr_orgUnit'">{{ orgunit_tree_config.placeholder }}</span>
      <span class="glyphicon glyphicon-triangle-bottom pull-right" *ngIf="!orgunit_tree_config.loading"></span>
      <span *ngIf="orgunit_tree_config.loading">{{ orgunit_tree_config.loading_message }}</span>
    </div>
  </div>
</div>
<div class="panel-body" style="padding: 3px;" [ngClass]="{'hiddenTree':showOrgTree}">
  <div class="" [ngClass]="{'hiddenTree':showOrgTree}" id="tree_view">
    <div class="col-sm-3" style="padding-left: 0px; margin-bottom: 5px">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="orgunit_model.selection_mode = 'Usr_orgUnit'">User orgUnit</a></li>
          <li><a (click)="orgunit_model.selection_mode = 'orgUnit'">Select Organisation Unit</a></li>
          <li><a (click)="orgunit_model.selection_mode = 'Level'">Select Level</a></li>
          <li><a (click)="orgunit_model.selection_mode = 'Group'">Select Group</a></li>
        </ul>
      </div>
    </div>
    <!--org_unit_groups-->
    <div class="col-sm-9" style="padding-right: 0px; margin-bottom: 5px" *ngIf="orgunit_model.selection_mode == 'Group'">
      <select id="groupSelection" [(ngModel)]="orgunit_model.selected_group" class="form-control" style="height: 30px ">
        <option value="">Select Group</option>
        <option *ngFor="let group of orgunit_model.orgunit_groups"  value="OU_GROUP-{{ group.id }}">{{ group.name }}</option>
      </select>
    </div>
    <!--org_unit_groups-->
    <div class="col-sm-9" style="padding-right: 0px; margin-bottom: 5px" *ngIf="orgunit_model.selection_mode == 'Usr_orgUnit'">
      <select id="userOrgSelection" [(ngModel)]="orgunit_model.selected_user_orgunit" class="form-control" style="height: 30px ">
        <option value="USER_ORGUNIT">User org unit</option>
        <option value="USER_ORGUNIT_CHILDREN">User sub-units</option>
        <option value="USER_ORGUNIT_GRANDCHILDREN">User sub-x2-units</option>
      </select>
    </div>
    <!--org_unit_levels-->
    <div class="col-sm-9" style="padding-right: 0px; margin-bottom: 5px" *ngIf="orgunit_model.selection_mode == 'Level'">
      <select id="levelSelection" [(ngModel)]="orgunit_model.selected_level" class="form-control" style="height: 30px ">
        <option value="">Select Level</option>
        <option *ngFor="let single_level of orgunit_model.orgunit_levels"  value="LEVEL-{{single_level.level}}">{{ single_level.name }}</option>
      </select>
    </div>
    <!--<div class="search-area">-->
      <!--<form *ngIf="!orgunit_tree_config.loading && orgunit_tree_config.show_search && orgunit_model.selection_mode != 'Usr_orgUnit'" style="border-bottom: solid 1px blanchedalmond;">-->
        <!--<input #filter (keyup)="filterNodes(filter.value, orgtree)" placeholder="{{ orgunit_tree_config.search_text }}" class="search_field"/>-->
      <!--</form>-->
    <!--</div>-->
    <div *ngIf="orgunit_tree_config.loading">{{ orgunit_tree_config.loading_message }}</div>
    <div class="tree-area" [ngClass]="{'someclass': orgunit_model.selection_mode == 'Usr_orgUnit'}">
      <tree-root
        #orgtree
        [nodes]="organisationunits"
        [focused]="true"
        [options]="customTemplateStringOrgunitOptions"
        (onActivate)="activateOrg($event)"
        (onDeactivate)="deactivateOrg($event)"
      >
        <template #treeNodeTemplate let-node>
          <span (click)="updateModelOnSelect(node.data)">{{ node.data.name }}</span>
        </template>
      </tree-root>
    </div>

  </div>
</div>

