<div class="container-fluid" style="border: 1px solid rgba(0,0,0,0.2); padding-left: 3px;padding-right: 3px">
    <div class="left-block col-xs-4" [@heroState]="uiState.dataAreaOpenState" >
      <nav class="navbar navbar-default top-bar" style="margin-bottom: 5px">
        <div class="container-fluid" style="padding-left: 3px;padding-right: 3px">
          <div class="col-sm-10" style="padding: 0px">
              <h4>Pivot tables</h4>
          </div>
          <div class="col-sm-2" style="padding: 0px">
            <a (click)="toogleDataArea()" class="pull-right close-right-area" title="close data selection area" style="cursor: pointer;font-weight: bold">
              <i class="fa fa-angle-double-left" style="margin-top: 5px;font-size: 23px;color: rgba(0,0,0,0.5);"></i>
            </a>
          </div>

        </div>
      </nav>
      <div class="container-fluid" style="padding-left: 0px; padding-right: 0px">
        <div class="col-sm-12" style="padding: 0px">
          <!--data-->
          <div class="panel panel-default data-component-area">
            <div class="panel-body" style="padding: 3px">
              <app-data-filter
                (onDataUpdate)="setSelectedData($event)"
                [selectedItems]="selectedData$ | async"
                [functionMappings]="mappings"
              ></app-data-filter>
            </div>
          </div>

          <!--period-->
          <div app-period-filter #periodComponent *ngIf="uiState.dataAreaOpen"
               [hideMonth]="hideMonth"
               [hideQuarter]="hideQuarter"
               (onPeriodUpdate)="setSelectedPeriod($event)"
               [selected_periods]="selectedPeriod$ | async"
               [period_type]="selectedPeriodType$ | async"
          ></div>

          <!--organisation unit-->
          <div app-org-unit-filter
               (onOrgUnitUpdate)="setSelectedOrgunit($event)"
               (onOrgUnitModelUpdate)="setOrgunitModel($event)"
          ></div>
        </div>
      </div>
    </div>

    <div class="right-block col-xs-8" [ngClass]="{'col-xs-12': !uiState.dataAreaOpen}">
      <nav class="navbar navbar-default top-bar">
        <div class="container-fluid" style="padding-top: 4px;padding-left: 3px;padding-right: 3px">
          <div class="navbar-header">
            <a (click)="toogleDataArea()" *ngIf="!uiState.dataAreaOpen" class="pull-left close-right-area" title="open data selection area" style="margin-right:8px;cursor: pointer;font-weight: bold">
              <i class="fa fa-angle-double-right"  style="margin-top: 5px;font-size: 23px;color: rgba(0,0,0,0.5);"></i>
            </a>
            <!--data-->
            <div [ngClass]="{'hideData': uiState.dataAreaOpen}" style="float: left;padding-left: 3px" appClickOutside (clickOutside)="showDx = false" >
              <a class="btn btn-sm btn-default" (click)="showDx = !showDx">Data</a>
              <div [ngClass]="{'hideData': !showDx}" class="dropdownField">
                <app-data-filter
                  (onDataUpdate)="setSelectedData($event)"
                  [selectedItems]="selectedData$ | async"
                  [functionMappings]="mappings"
                ></app-data-filter>
              </div>
            </div>
            <!--period-->
            <div [ngClass]="{'hideData': uiState.dataAreaOpen}" style="float: left;padding-left: 3px" appClickOutside (clickOutside)="showPe = false">
              <a class="btn btn-sm btn-default" (click)="showPe = !showPe">Period</a>
              <div *ngIf="showPe" class="dropdownField">
                <div app-period-filter #periodComponent1
                     [hideMonth]="hideMonth"
                     [hideQuarter]="hideQuarter"
                     (onPeriodUpdate)="setSelectedPeriod($event)"
                     [selected_periods]="selectedPeriod$ | async"
                     [period_type]="selectedPeriodType$ | async"
                ></div>
              </div>
            </div>
            <!--organisation units-->
            <div [ngClass]="{'hideData': uiState.dataAreaOpen}" style="float: left;padding-left: 3px;padding-right: 3px" appClickOutside (clickOutside)="showOu = false">
              <a class="btn btn-sm btn-default" (click)="showOu = !showOu">Orgunit</a>
              <div [ngClass]="{'hideData': !showOu}" class="dropdownField">
                <div app-org-unit-filter *ngIf="!uiState.dataAreaOpen"
                     (onOrgUnitUpdate)="setSelectedOrgunit($event)"
                     (onOrgUnitModelUpdate)="setOrgunitModel($event)"
                ></div>
              </div>
            </div>
            <a class="btn btn-sm btn-default" (click)="updateTable()">Update</a>
            <app-layout [layout]="currentLayout" [visualizationType]="'TABLE'" (onLayoutUpdate)="setLayout($event)"></app-layout>
            <app-options (onOptionUpdate)="updateOptions($event)"></app-options>
            <button class="btn btn-default btn-sm" (click)="downloadExcel()"><i class="fa fa-file-excel-o"></i> Excel</button>
          </div>
          <ul class="nav navbar-nav navbar-right top-bar-link">
            <li><a href="../../../"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="col-md-12">
          <!--{{ visualizationObject$  | async | json }}-->
          <!--<app-table *ngIf="showTable" [tableData]="visualizationObject$  | async"></app-table>-->
        </div>
      </div>
      <div class="container-fluid" style="padding: 0px">
        <div class="col-md-12" style="padding: 0px">
          <data-area
            [showTable]="showTable"
            [showAutoGrowingTable]="showAutoGrowingTable"
            [tableObject]="tableObject"
            [dataItems] = "dataDimensions$ | async"
            [autoGrowingData]="autoGrowingData"
            [layoutItems] = "layout"
            [uiState]="uiState"
            [loadingAutogrowing]="loadingAutogrowing"
            [needForUpdate]="needForUpdate"
          ></data-area>
        </div>
      </div>
    </div>
  </div>

