<div class="loadingMessage" *ngIf="uiState.loadingData" >
  <img src="assets/img/balls-5.svg" style="height: 40px; width: 40px">
  {{ uiState.loadingDataMessage }} - {{ loadingParcent.loadedData }}/{{ loadingParcent.totalDataRequired }}({{loadingParcent.loadedData/loadingParcent.totalDataRequired | percent }})
</div>
<p *ngIf="!allDimensionAvailable && showTable"> Please make sure you have selected at least data, period, and Admin Unit</p>
<div class="col-md-12" style="padding-left: 10px;" *ngIf="!showTable">
  <h6>Creating Pivot table</h6>
  <ul class="list-unstyled">
    <li><small>- Select items from any dimension of the left menu</small></li>
    <li><small>- Click Layout to arrange your dimensions on table rows and columns</small></li>
    <li><small>- Click Update to create your table</small></li>
  </ul>
  <h6>Working with a pivot table</h6>
  <ul class="list-unstyled">
    <li><small>- Click Options to hide sub-totals or empty rows, adjust font size and more</small></li>
    <li><small>- Click Favorites to save your table for later use</small></li>
    <li><small>- Click Download to save table data to your computer</small></li>
  </ul>
</div>
<small *ngIf="needForUpdate && showTable && allDimensionAvailable">There are a changes in selections hit update to see the latest changes.
  <button class="btn btn-default btn-xs" (click)="needForUpdate = false">Hide</button>
  <button class="btn btn-default btn-xs" (click)="updateTable()">Update</button>
  <!--<button class="btn btn-default btn-xs" (click)="update()">Update</button>-->
</small>

<div *ngIf="tableObject" style="padding: 3px" [ngClass]="{'update-needed': needForUpdate}">
  <h4 *ngIf="tableObject.rows.length != 0" class="text-center" style="margin-bottom: 0px">{{tableObject?.title}}
    <div class="dropdown pull-right hide-on-print">
      <button class="btn btn-default btn-sm" style="margin-bottom: 10px" type="button" data-toggle="dropdown"><i class="fa fa-file-excel-o"></i> Excel
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a (click)="downloadExcel()">Merged Data</a></li>
        <li><a (click)="downloadExcel1()">Raw Data</a></li>
      </ul>
    </div>
  </h4>
  <table #autogrowingTable class="table table-bordered table-responsive table-condensed custom-table"
         *ngIf="tableObject.rows.length != 0">
    <thead>
    <!--title-->
    <tr  *ngIf="dataItems.data.items?.length != 0 && showTable && !uiState.loadingData" class="table-title">
      <th [attr.colspan]="tableObject.rows[0].items.length">
        <h4 style="margin: 0px" class="text-center">{{ getTitle() }} </h4>
      </th>
    </tr>
    <!--headers-->
    <tr *ngFor="let header of tableObject.headers; let j = index" class="header-column">
      <th *ngIf="tableObject.hasParentOu"></th>
      <th *ngFor="let table_column of tableObject.columns; let i = index" style="text-align: center">
        <span *ngIf="i==tableObject.columns.length-1 && j==tableObject.headers.length-1 && tableObject.titlesAvailable">{{ tableObject.titles.rows[i] }} / {{ tableObject.titles.column[j]}}</span>
        <span *ngIf="i != tableObject.columns.length-1">{{ tableObject.titles.rows[i] }}</span>
        <span *ngIf="j != tableObject.headers.length-1">{{ tableObject.titles.column[j] }}</span>
      </th>
      <th *ngFor="let header_column of header.items; let i=index" [colSpan]="header_column.span"
          style="text-align: center" (click)="sortData(tableObject,i+tableObject.columns.length,j+1==tableObject.headers.length)">
        {{ header_column.name }}
        <span *ngIf="j+1==tableObject.headers.length && current_sorting[i+tableObject.columns.length] && sort_direction[i+tableObject.columns.length] == 'asc'" class="glyphicon glyphicon-triangle-top pull-right"></span>
        <span *ngIf="j+1==tableObject.headers.length && current_sorting[i+tableObject.columns.length] && sort_direction[i+tableObject.columns.length] == 'desc'" class="glyphicon glyphicon-triangle-bottom pull-right"></span>
      </th>
    </tr>
    </thead>
    <tbody  id="myPivotTable">
    <tr *ngFor="let row of tableObject.rows" [ngClass]="{'sub-total': row.sub_total}">
      <td *ngFor="let header_column of row.items;let i = index" [ngClass]="{'header-column': header_column.name != ''}"  style="text-align: center;vertical-align: middle"
          [attr.rowspan]="header_column.row_span">
        {{ header_column.val }}
      </td>
    </tr>
    </tbody>
  </table>


</div>

<!--loading autogrowing-->
<div class="loadingAutogrowingMessage" *ngIf="loadingAutogrowing && !uiState.loadingData" >
  <img src="assets/img/balls-5.svg" style="height: 40px; width: 40px"> Loading Auto growing data
</div>

<div *ngIf="showAutoGrowingTable">
  <app-auto-growing *ngFor="let autogrowing of autoGrowingData"
                    [autogrowing]="autogrowing"
                    [dataItems]="dataItems"
                    [layoutItems]="layoutItems"
                    [title]="getTitle()"
  >

  </app-auto-growing>
</div>
