.loadingMessage{
  position: relative;
  text-align: center;
}
.loadingAutogrowingMessage{
  position: relative;
  text-align: center;
}
.update-needed{
  opacity: 0.8;
}
.header-column{
  background-color: rgb(218,230,248);
}
.sub-total{
  background-color: rgba(218,230,248,0.4);
}
.table-title{
  background-color: rgb(199,213,233);
}
.glyphicon{
  opacity: 0.7;
}
.header-item{
  text-align: right;
}
