<div class="loadingMessage" *ngIf="uiState.loadingData" >
  <img src="../../../assets/img/balls-5.svg" style="height: 40px; width: 40px">{{ uiState.loadingDataMessage }}
</div>
<div class="loadingAutogrowingMessage" *ngIf="loadingAutogrowing" >
  <img src="../../../assets/img/balls-5.svg" style="height: 40px; width: 40px"> Loading Auto growing data
</div>
<div class="col-md-12" style="padding-left: 10px;" *ngIf="!showTable">
  <h6>Creating Pivot table</h6>
  <ul class="list-unstyled">
    <li><small>- Select items from any dimension of the left menu</small></li>
    <li><small>- Click Layout to arrange your dimensions on table rows and columns</small></li>
    <li><small>- Click Update to create your table</small></li>
  </ul>
  <h6>Working with a pivot table</h6>
  <ul class="list-unstyled">
    <li><small>- Click Options to hide sub-totals or empty rows, adjust font size and more</small></li>
    <li><small>- Click Favorites to save your table for later use</small></li>
    <li><small>- Click Download to save table data to your computer</small></li>
  </ul>
</div>
<h4 *ngIf="dataItems.data.items?.length != 0 && showTable && !uiState.loadingData" class="text-center text-muted"> {{ getTitle() }} </h4>
<div *ngIf="tableObject" style="padding: 3px">
  <h3 *ngIf="tableObject.title">{{tableObject.title}} <button class="btn btn-default btn-sm pull-right"><i class="fa fa-file-excel-o"></i> Excel </button></h3>
  <table class="table table-bordered table-responsive table-condensed custom-table"
         *ngIf="tableObject.rows.length != 0">
    <thead>
    <tr *ngFor="let header of tableObject.headers; let j = index">
      <th *ngFor="let table_column of tableObject.columns; let i = index" style="text-align: center">
        {{ tableObject.titles.rows[i] }} / {{ tableObject.titles.column[j]}}
      </th>
      <th *ngFor="let header_column of header.items" [colSpan]="header_column.span"
          style="text-align: center">
        {{ header_column.name }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of tableObject.rows">
      <td *ngFor="let header_column of row.items" style="text-align: center;vertical-align: middle"
          [attr.rowspan]="header_column.row_span">
        {{ header_column.val }}
      </td>
    </tr>
    </tbody>
  </table>


</div>

<div *ngIf="showAutoGrowingTable">
  <app-auto-growing *ngFor="let autogrowing of autoGrowingData"
                    [autogrowing]="autogrowing"
  >

  </app-auto-growing>
</div>
