<div [ngClass]="{'show':!show,'hide':show}" style="text-align: center;">
  <img src="assets/img/balls-5.svg"/>
  Merging Autogrowing
</div>
<div class="col-sm-12 nopadding">
  <div class="dropdown pull-right">
    <button class="btn btn-default btn-sm" style="margin-bottom: 10px" type="button" data-toggle="dropdown"><i class="fa fa-file-excel-o"></i> Excel
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a (click)="downloadExcel('autogrowingTable')">Merged Data</a></li>
      <li><a (click)="downloadExcel('autogrowingRawTable')">Raw Data</a></li>
    </ul>
  </div>


</div>
<div>
  <table #autogrowingRawTable class="table hide"
         *ngIf="$scope.data.dataElements.length != 0">
    <thead>
    <tr class="table-title">
      <th  [colSpan]="$scope.data.dataElements.length">
        <h4 class="text-center" style="margin: 0px">
          {{autogrowing.analytics.metaData.names[$scope.config.programId]}}
        </h4>
      </th>
    </tr>
    <tr class="table-title">
      <th  [colSpan]="$scope.data.dataElements.length">
        <h4 class="text-center" style="margin: 0px">
        <span *ngFor="let ou of autogrowing.analytics.metaData.ou; let i = index">
          <span *ngIf="autogrowing.analytics.metaData.names[ou]"><span *ngIf="i > 0">,</span>{{autogrowing.analytics.metaData.names[ou]}}</span>
        </span>
       <span *ngIf="autogrowing.analytics.metaData.pe.length > 0">
         <span *ngFor="let pe of autogrowing.analytics.metaData.pe; let i = index">
           <span *ngIf="autogrowing.analytics.metaData.names[pe]">,{{autogrowing.analytics.metaData.names[pe]}}</span>
         </span>
       </span>
        </h4>
      </th>
    <tr class="header-column">
      <th *ngFor="let dataElement of $scope.data.dataElements"
          style="text-align: center">
        {{ dataElement.name }}
      </th>
    </tr>
    </thead>
    <tbody *ngIf="!$scope.config.groupBy">
    <tr *ngFor="let event of $scope.data.events">
      <td *ngFor="let dataElement of $scope.data.dataElements">{{event[dataElement.name]}}</td>
    </tr>
    </tbody>
    <tbody *ngIf="$scope.config.groupBy">
    <tr *ngFor="let event of $scope.data.events">
      <ng-template ngFor let-dataElement [ngForOf]="$scope.data.dataElements" let-i="index">
        <td [ngClass]="{'hide-text':checkHide(index)}" style="border:1px solid lightgrey"
            *ngIf="event[dataElement.name] != undefined && dataElement.valueType != 'NA'">{{event[dataElement.name] |
          removeNaN:dataElement}}
        </td>
      </ng-template>
      <td *ngIf="$scope.config.na">N/A</td>
      <td *ngIf="$scope.config.na">N/A</td>
    </tr>
    </tbody>
  </table>
  <table #autogrowingTable [ngClass]="{'show':show,'hide':!show}" class="table"
         *ngIf="$scope.data.dataElements.length != 0">
    <thead>
    <tr class="table-title">
      <th  [colSpan]="$scope.data.dataElements.length">
        <h4 class="text-center" style="margin: 0px">
          {{autogrowing.analytics.metaData.names[$scope.config.programId]}}
        </h4>
      </th>
    </tr>
    <tr class="table-title">
      <th  [colSpan]="$scope.data.dataElements.length">
        <h4 class="text-center" style="margin: 0px">
        <span *ngFor="let ou of autogrowing.analytics.metaData.ou; let i = index">
          <span *ngIf="autogrowing.analytics.metaData.names[ou]"><span *ngIf="i > 0">,</span>{{autogrowing.analytics.metaData.names[ou]}}</span>
        </span>
       <span *ngIf="autogrowing.analytics.metaData.pe.length > 0">
         <span *ngFor="let pe of autogrowing.analytics.metaData.pe; let i = index">
           <span *ngIf="autogrowing.analytics.metaData.names[pe]">,{{autogrowing.analytics.metaData.names[pe]}}</span>
         </span>
       </span>
        </h4>
      </th>
    <tr class="header-column">
      <th *ngFor="let dataElement of $scope.data.dataElements"
          style="text-align: center">
        {{ dataElement.formName }}
      </th>
    </tr>
    </thead>
    <tbody *ngIf="!$scope.config.groupBy" #tbody>
    <tr *ngFor="let event of $scope.data.events">
      <td *ngFor="let dataElement of $scope.data.dataElements">{{event[dataElement.name]}}</td>
    </tr>
    </tbody>
    <tbody *ngIf="$scope.config.groupBy" #tbody>
    <tr *ngFor="let event of $scope.data.events">
      <ng-template ngFor let-dataElement [ngForOf]="$scope.data.dataElements" let-i="index">
        <td [ngClass]="{'hide-text':checkHide(index)}" style="border:1px solid lightgrey"
            *ngIf="event[dataElement.name] != undefined && dataElement.valueType != 'NA'">{{event[dataElement.name] |
          removeNaN:dataElement}}
        </td>
      </ng-template>
      <td *ngIf="$scope.config.na">N/A</td>
      <td *ngIf="$scope.config.na">N/A</td>
    </tr>
    </tbody>
  </table>
</div>
