<div [ngClass]="{'show':!show,'hide':show}" style="text-align: center;">
  <img src="assets/img/balls-5.svg"/>
</div>
<table [ngClass]="{'show':show,'hide':!show}" class="table table-bordered table-responsive table-condensed custom-table"
       *ngIf="tableObject.rows.length != 0">
  <thead>
  <tr *ngFor="let header of tableObject.headers; let j = index">
    <!--<th *ngFor="let table_column of tableObject.columns; let i = index" style="text-align: center">-->
      <!--{{ tableObject.titles.rows[i] }} / {{ tableObject.titles.column[j]}}-->
    <!--</th>-->
    <th *ngFor="let header_column of header.items" [colSpan]="header_column.span"
        style="text-align: center">
      {{ header_column.name }}
    </th>
  </tr>
  </thead>
  <tbody *ngIf="!$scope.config.groupBy" #tbody>
  <tr *ngFor="let event of $scope.data.events">
    <td *ngFor="let dataElement of data.dataElements"> {{event[dataElement.name]}}</td>
  </tr>
  </tbody>
  <tbody *ngIf="$scope.config.groupBy" #tbody>
  <tr *ngFor="let event of $scope.data.events">
    <template ngFor let-dataElement [ngForOf]="$scope.data.dataElements"  let-i="index">
      <td [ngClass]="{'hide-text':checkHide(index)}" style="border:1px solid lightgrey" *ngIf="event[dataElement.name] != undefined && dataElement.valueType != 'NA'">{{event[dataElement.name] | removeNaN:dataElement}}</td>
    </template>
    <td *ngIf="$scope.config.na">N/A</td><td *ngIf="$scope.config.na">N/A</td>
  </tr>
  </tbody>
</table>
